<h2 id='title'>Welcome to BTM</h2>

<ul class="list-unstyled">
  <li>{{#link-to "bookslist"}}All Books{{/link-to}}</li>
  <li>{{#link-to "addbook"}}Add Book{{/link-to}}</li>
  <li>{{#link-to "authorslist"}}Books by Author{{/link-to}}</li>
  <li>{{#link-to "publist"}}Books by Publication{{/link-to}}</li>
  <li>{{#link-to "favouritebooks"}}Favourite Books{{/link-to}}</li>
  <li>{{#link-to "outofstock"}}Books (Out of Stock){{/link-to}}</li>
</ul>

{{outlet}}
