{{partial "submenu"}}
<div class="common-container">
  <h3 class="common-header"><span>{{book_name}} <i class="icon-book"></i></span></h3>
  <p>{{author_name}}</p>
  <p><small>{{pub_name}}</small></p>
</div>