<div class="main-page">
  <div class="container"> 
    <ul class="list-unstyled">
      {{#link-to "bookslist" tagName="li"}}All Books{{/link-to}}
      {{#link-to "addbook" tagName="li"}}Add Book{{/link-to}}
      {{#link-to "authorslist" tagName="li"}}Books by Author{{/link-to}}
      {{#link-to "publist" tagName="li"}}Books by Publication{{/link-to}}
      {{#link-to "favouritebooks" tagName="li"}}Favourite Books{{/link-to}}
      {{#link-to "outofstock" tagName="li"}}Books (Out of Stock){{/link-to}}
    </ul>
  </div>
</div>