<div class="main-page">
  <div class="container"> 
    <ul class="list-unstyled">
      {{#link-to "bookslist" tagName="li"}}
        All Books
        <p><i class="icon-books"></i></p>
      {{/link-to}}
      {{#link-to "addbook" tagName="li"}}
        Add Book
        <p><i class="icon-pencil"></i></p>
      {{/link-to}}
      {{#link-to "authorslist" tagName="li"}}
        Books by Author
        <p><i class="icon-users"></i></p>
      {{/link-to}}
      {{#link-to "publist" tagName="li"}}
        Books by Publication
        <p><i class="icon-office"></i></p>
      {{/link-to}}
      {{#link-to "favouritebooks" tagName="li"}}
        Favourite Books
        <p><i class="icon-heart"></i></p>
      {{/link-to}}
      {{#link-to "outofstock" tagName="li"}}
        Books (Out of Stock)
        <p><i class="icon-books"></i></p>
      {{/link-to}}
    </ul>
  </div>
</div>