<div class="col-md-12">
  <div class="back"><a {{action "goBack"}}><i class="icon-arrow-left"></i></a></div>
  <div class="row sub-menu">
      <div class="item">{{#link-to "index"}}<i class="icon-home"></i>{{/link-to}}</div>
      <div class="item">{{#link-to "bookslist"}}<i class="icon-books"></i>{{/link-to}}</div>
      <div class="item">{{#link-to "addbook"}}<i class="icon-pencil"></i>{{/link-to}}</div>
      <div class="item">{{#link-to "authorslist"}}<i class="icon-users"></i>{{/link-to}}</div>
      <div class="item">{{#link-to "publist"}}<i class="icon-office"></i>{{/link-to}}</div>
      <div class="item">{{#link-to "favouritebooks"}}<i class="icon-heart"></i>{{/link-to}}</div>
  </div>
</div>